name: Releases executeable macOs to home brew 

on: push

jobs:
  release-osx:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install 
        run: yarn
      - name: Build 
        run: bash ./scripts/build-production.sh
      - name: Read release.md and use it as a body of new release
        id: read_release
        shell: bash
        run: |
          r=$(cat ./release.md)                             # <--- Read release.md (Provide correct path as per your repo)
          r="${r//'%'/'%25'}"                               # Multiline escape sequences for %
          r="${r//$'\n'/'%0A'}"                             # Multiline escape sequences for '\n'
          r="${r//$'\r'/'%0D'}"                             # Multiline escape sequences for '\r'
          echo "::set-output name=RELEASE_BODY::$r"         # <--- Set environment variable
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          body: |
            ${{ steps.read_release.outputs.RELEASE_BODY }}
      - name: Extract version
        id: extract-version
        run: |
          printf "::set-output name=%s::%s\n" tag-name "${GITHUB_REF#refs/tags/}"
      - uses: mislav/bump-homebrew-formula-action@v2
        if: "!contains(github.ref, '-')" # skip prereleases
        with:
          formula-name: swgit-${{ github.event.inputs.tag-name }}
          formula-path: Formula/swgit.rb
          homebrew-tap: Homebrew/homebrew-core
          base-branch: master
          download-url: https://github.com/9bany/git-switch/releases/download/${{ steps.extract-version.outputs.tag-name }}/swgit-macos
          commit-message: |
            {{formulaName}} {{version}}

            Created by https://github.com/mislav/bump-homebrew-formula-action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}