name: Test cases

on:
  push:
    tags:
      - 'v*'
    branches:    
      - dev
  pull_request:
    branches:    
      - dev

jobs:
  test:
    name: Test cases
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-12]
        include:
          - os: windows-latest
            run: |
              mkdir -p swgit_store/db
              xcopy /y /F src\db_store\db\example_db.json swgit_store\db\swgit.json*
            run_prepare_test:
              mkdir -p test/data
            run_prepare_ssh: |
              mkdir ~/.ssh
              xcopy /y /F test\config\config_test "%userprofile%\.ssh\config\"
          - os: ubuntu-latest
            run: |
              mkdir -p swgit_store/db
              cp -i src/db_store/db/example_db.json swgit_store/db/swgit.json 
            run_prepare_test:
              mkdir test/data
            run_prepare_ssh: |
              mkdir ~/.ssh
              cp -i test/config/config_test ~/.ssh/config
          - os: macos-12
            run: |
              mkdir -p swgit_store/db
              cp -i src/db_store/db/example_db.json swgit_store/db/swgit.json 
            run_prepare_test:
              mkdir test/data
            run_prepare_ssh: cp -i test/config/config_test ~/.ssh/config
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install 
        run: yarn
      - name: Copy file
        run: ${{ matrix.run }}
      - name: Preprae test
        run: ${{ matrix.run_prepare_test }}
      - name: Preprae ssh folder
        run: ${{ matrix.run_prepare_ssh }}
      - name: Run test 
        run: make test-machine
  